<!DOCTYPE html>
<html>
    <body>
        <h1>Cadastrar novo usuario</h1>
        <div>
            <form action="#" th:action="@{/usuario/cadastrar}" th:object="${usuarioRequestDto}" method="post">
                <div>
                    <label>Nome de usuario</label>
                    <input type="text" th:field="*{nomeUsuario}" id="nomeUsuario"/>
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" th:field="*{email}" id="Email"/>
                </div>
                <div>
                    <label>Senha</label>
                    <input type="text" th:field="*{senha}" id="Senha"/>
                </div>
                <div>
                    <label>idade</label>
                    <input type="number" th:field="*{idade}" id="idade"/>
                </div>
                <input type="submit" value="Cadastrar"/>
            </form>
        </div>
    </body>
</html>