<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1 th:text="${historia.titulo}"></h1>
            <table>
                <thead>
                    <tr>
                        <th>Titulo do capitulo</th>
                        <th>editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="capitulo : ${historia.capitulos}">
                        <td th:text="${capitulo.titulo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>