<!DOCTYPE html>
<html>
    <body>
        <div>
            <form th:action="@{/minha-historia/cadastrar-capitulo}" th:object="${capituloRequestDto}" method="post"> 
                <input type="hidden" name="id" th:value="${idHistoria}" />
                <input type="text" id="titulo" th:field="*{titulo}" />
                <h1>--------------------------------------------------</h1>
                <input type="text" id="conteudo" th:field="*{conteudo}" />
                <input type="submit" value="Salvar Capitulo" />
            </form>
        </div>
    </body>
</html>